@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background-color:#33cc33">
    <h1>Carpathian University</h1>
</div>
<div class="jumbotron" style="background-color:#33cc33">
    <img class="image-responsive" src="~/images/pexels-nadiia-yahaha-13440917.jpg" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Carpathian University</h2>
        <p>
            Carpathian University is a university that has a big diversity of professional progarms
    </div>
    <div class="col-md-4">
        <h2>More than 100 000 students</h2>
        <p>More than 10 000 students graduate our university every year</p>
    </div>
    <div class="col-md-4">
        <h2>Broad opportunities worldwide</h2>
        <p>Our university cooperates with more than 30 universities worldwide providing oportunities to get worldwide experience</p>
    </div>
</div>